body {
    height: 50%;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.gradient {
    background: rgb(215,232,218);
    background: linear-gradient(90deg, rgba(215,232,218,1) 1%, rgb(43, 105, 124) 100%);
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: darkslategrey;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family:'Times New Roman', Times, serif
}

.madison {
    height: 300px;
    width: 350px;
}

.delaware {
    height: 300px;
    width: 450px;
}

h1 {
    font-family:'Times New Roman', Times, serif
}

.feature {
    color:rgb(65, 104, 75)
}

.feature ul {
    padding-left: 2rem;
    list-style-type:armenian
}
